table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#horizontal ul.menu li {
    display: inline;
    margin-right: -4px;
    padding: 5px;
}

nav li:hover {
    background-color: lavender;
    cursor: pointer;
}

nav a:hover {
    color: blue;
}

ul.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#horizontal ul.menu li:not(:last-child) {
    border-right: none;
}

a {
    text-decoration: none;
    color: #3559ff;
}

a:visited{
    color: #3559ff;
}

.form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.form li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.form li:first-child, .form li:last-child {
    border-bottom: 1px solid #777;
}

.required_notification {
    color: #d45252;
    margin: 10px 0 0 0;
    display: inline;
    float: right;
}

.required {
    color: #d45252;
}

.form h1 {
    display: inline;
    margin: 0;
}
.form label {
    width: 150px;
    display: inline-block;
    float: left;
    margin-top: 7px;
}

.form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.form button {
    margin-left: 320px;
}

input:focus {
    outline: none;
}

.form input:focus:invalid{
    box-shadow: 2px 2px 5px #ff5a49;
   /* background: #fff url(images/validation.png) no-repeat 98% center;*/
    border-color: #ff5a49
}

.form input:valid{
    box-shadow: 2px 2px 5px #5cd053;
    /*background: #fff url(images/validation.png) no-repeat 98% center;*/
    border-color: #28921f;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}